.layout {
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  display: grid;
  grid-template-areas:
    "header header header header"
    "pSort pSort pSearch search" 
    "pList pView pImage searchResults"
    "pList pView pImage searchResults"
    "pButtons pButtons pButtons pButtons";
}
.header {
  grid-area: header;
  color:red
}
.searchResults {
  grid-area: searchResults;
}
.sortForm {
  grid-area: pSort;
}
.searchForm {
  grid-area: pSearch;
}
.search {
  grid-area: search;
}

.select {
  grid-area: select;
}

.pokemonList {
  grid-area: pList;
}

.pokemonView {
  margin-top: 20%;
  margin-left: 20%;
  max-height: 30vh;
  grid-area: pView;
  display: grid;
  grid-template-areas:
    "pName pName"
    "type measure"
    "stats stats";
}
.pName {
  grid-area: pName;
  font-size: 24px;
}
.type {
  grid-area: type;
}
.measurements {
  grid-area: measure;
}
.stats {
  grid-area: stats;
}

.pokemonImage {
  margin-top: 15%;
  grid-area: pImage;
  width: 450px;
  height: 450px;

}
.pokemonListItemLink {
  color: black;
  text-decoration: none;
  border: 1px solid rebeccapurple;
  display: block;
  padding: 0.5em;
}
.pokemonListItem {
  padding: 0.5em;
}
.pageButtons {
  grid-area: pButtons;
}

.grass {
  color: #3f9490;
}

.poison {
  color: #9d7aa4;
}
.fighting {
  color: burlywood;
}
.psychic {
  color: rebeccapurple;
}
.fire {
  color: #ff0000;
}

.electric {
  color: #ffde00;
}

.flying {
  color: #efdbb6;
}

.normal {
  color: gray;
}
.water {
  color: aqua;
}
.bug {
  color: #5f9569;
}
